<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label th:for="name">Supplier Name</label>
        <input class="form-control" th:field="${supplier.name}" />
        <span th:errors="${supplier.name}" class="error"></span>
    </div>
    <input type="submit" value="Add Supplier">
</form>

</body>
</html>