<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
<!--    <div class="row g-2">-->
<!--        <div class="col-md">-->
<!--            <div class="form-floating">-->
<!--                <label th:for="discrepancyDate">Date</label>-->
<!--                <input type="date" class="form-control" id="floatingInputGrid" placeholder="01">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label th:for="discrepancyDate">Date</label>
        <input type="date" class="form-control" th:field="${discrepancy.discrepancyDate}"/>
    </div>

    <div class="form-group">
        <label th:for="purchaseOrder">Purchase Order Number</label>
        <input class="form-control" th:field="${discrepancy.purchaseOrder}" />
        <span th:errors="${discrepancy.purchaseOrder}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="supplier">Supplier</label>
        <select name="supplierId">
            <option th:each="supplier : ${suppliers}"
                    th:text="${supplier.name}"
                    th:value="${supplier.id}"></option>
        </select>
        <a th:href="@{'/suppliers/add'}">Add Suppliers</a>
    </div>

    <input type="submit" value="Add Discrepancy">
</form>

</body>
</html>