<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<p th:unless="${discrepancies} and ${discrepancies.size()}">No Discrepancies!</p>

<ul>
    <th:block th:each="discrepancy : ${discrepancies}">
        <li th:text="${discrepancy.discrepancyDate} + ' ' + ${discrepancy.supplier} + ' ' + ${discrepancy.purchaseOrder}"></li>
    </th:block>
</ul>

</body>
</html>